div.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div#header-main {
  width: 100%;
}

header#cabecalho {
  background-color: var(--items-background);
  width: 100%;
  padding: 0.5rem;
}

hgroup.hg-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px 32px 64px;
}

main {
  padding: 3.2rem 6.4rem 0.9rem 6.4rem;
  height: 82rem;
}

section#card {
  weight: 88.8rem;
  height: 19rem;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 43.2;
  height: 13.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--items-background);

  border: 1px solid var(--items-line);
  box-sizing: border-box;
  border-radius: 2.4rem;
}

.imgCard {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 0.1rem;
  padding: 1rem;
}

img.player-verde-card {
  border-radius: 0.1rem;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  left: 29.44%;
  right: 67.78%;
  top: 30%;
  bottom: 65.12%;
}

div.container {
  justify-content: space-between;
}

h1 {
  height: 2rem;
  left: 6.4rem;
  top: 13.6rem;

  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;

  color: var(--text-heading);
}

hgroup#ipisodios {
  padding: 2.4rem 0rem 2.4rem 0rem;
}

h2 {
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

hgroup#ipisodios {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
}

table {
  width: 88.8rem;
  height: 39.9rem;
  align-items: center;
  justify-content: space-between;
  border-collapse: collapse;
}

tr,
th,
td {
  justify-content: left;
  display: flex;
  align-items: center;
}

th.podcast {
  width: 35rem;
  color: var(--text-body-medium);
}

th.podcast-th {
  padding-bottom: 1.2rem;
  width: 30rem;
  align-items: center;
  justify-content: left;
  color: var(--text-body-medium);
}

th.podcast-player {
  width: 6rem;
}

.listPlayer {
  width: 4rem;
}

td {
  width: 30rem;
  justify-content: left;
  border-bottom: 1px solid var(--text-body-medium);
  padding: 1.2rem 1.6rem 1.2rem 0rem;
  height: 6.5rem;
}

td.imgtable {
  padding: 1.2rem 1.6rem 1.2rem 0;
  width: 35rem;
  justify-content: left;
}

.imgList {
  padding-right: 1.6rem;
}

aside {
  background-color: var(--primary-red);
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 4.1rem 6.4rem 0rem;
  width: 42.4rem;
  height: 82rem;
}

#img-headfone {
  width: 16.9rem;
  height: 3.2rem;
}

div#h2-aside {
  width: 29.6rem;
  height: 34.6rem;
  background: linear-gradient(
    143.8deg,
    rgba(145, 100, 250, 0.8) 0%,
    rgba(145, 100, 250, 0) 100%
  );
  border: 0.15rem dashed var(--primary-green-light);
  box-sizing: border-box;
  border-radius: 2.4rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 12.6rem 0 12.6rem 0rem;
  padding: 15.3rem 7.1rem 15.3rem 7.2rem;
  color: var(--text-body-light);
}

div#progressao {
  width: 28.2rem;
  display: flex;
  justify-content: space-between;
}

div#progressao p {
  padding: 11.9 7rem 0rem 7.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 3.9rem;
  height: 1.7rem;
}

input#progress {
  width: 17.4rem;
  height: 0.4rem;
  padding: 0 1.6rem 0 1.6rem;
}

aside figure#figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  flex-direction: row;
  padding-top: 4.2rem;
}

fragment#podcastr {
  width: 29.6rem;
  height: 34.6rem;
}
