* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --primary-green: #04d361;
  --primary-green-light: #9f75ff;
  --primary-red: #8257e5;
  --primary-purple-dark: #6f48c9;

  --text-heading: #494d4b;
  --text-body: #808080;
  --text-body-medium: #afb3b1;
  --text-body-light: #ffffff;

  --items-line: #e6e8eb;
  --items-shape: #f7f8fa;
  --items-background: #ffffff;

  --background: #e5e5e5;

  font-size: 62.5%;
}

body {
  display: flex;
  height: 100vh;
  background: var(--background);
}

body,
button,
input,
textarea {
  font-size: clamp(1.4rem, 1.6rem, 2vw);
}

div.content {
  width: 100%;
  max-width: 144rem;
  min-height: 82rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
