.header-main {
  width: 100%;
  max-width: 101.6rem;
}

.header {
  background-color: var(--items-background);
  width: 100%;
  max-width: 101.6rem;
  display: flex;
  justify-content: space-between;
  padding: 32px 64px 32px 64px;
}

.logo-line {
  display: flex;
  justify-content: space-between;
  width: 25.9rem;
}

.hg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem 0rem 3.2rem;
  width: 100%;
  max-width: 88.8rem;
}

main {
  margin: 0rem 0rem 0rem 15.6rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80.4rem;
  height: 62rem;
}

.card {
  width: 70.4rem;
  height: 16rem;
  margin-bottom: 3.2rem;
  margin-top: 4.8rem;
  display: flex;
  justify-content: space-between;
}

.player-blue-card {
  position: relative;
  width: 4.8rem;
  margin-right: -2.4rem;
}

.imgCard {
  width: 65.6rem;
  height: 16rem;
}

.player-green-card {
  width: 4.8rem;
  margin-left: -2.4rem;
}

.player-green-arrow-card {
  margin-left: -3.5rem;
  position: absolute;
  top: 1.5rem;
}

.play-green-arrow {
  position: relative;
  width: 4.8rem;
  height: 4.8rem;
  margin: 5.6rem 0rem 5.6rem 0rem;
  justify-content: center;
  align-items: center;
}

.title {
  width: 63rem;

  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;

  margin: 0rem 0rem 2.4rem 4rem;

  color: var(--text-heading);
}

h2 {
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0rem 0rem 1.8rem 4rem;
}

.text-header {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.episodes {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  margin: 0rem 0rem 2.4rem 4rem;
}

article p {
  border-top: 0.1rem solid rgb(213, 216, 219);
  padding-top: 3.2rem;
  width: 62.4rem;
  height: 2.8rem;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: justify;

  color: var(--text-heading);
}

aside {
  background-color: var(--primary-red);
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 4.1rem 6.4rem 0rem;
  width: 42.4rem;
  height: 82rem;
}

.img-headphone {
  width: 16.9rem;
  height: 3.2rem;
  margin: 0rem 0rem 8.1rem 0;
}

.img-playing {
  width: 29.6rem;
  height: 34.6rem;

  border: 0.15rem dashed var(--primary-green-light);
  box-sizing: border-box;
  border-radius: 2.4rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title-aside {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 3.2rem 7.1rem 0.8rem 6.5rem;
  color: var(--text-body-light);

  width: 32rem;
}

.name-dev {
  weight: 10.3rem;
  color: var(--primary-green-light);
  margin: 0rem 0rem 7.7rem 0;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-container span {
  padding: 11.9 7rem 0rem 7.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 3.9rem;
  height: 1.7rem;

  color: var(--text-body-light);

  font-family: "inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.progress {
  width: 20.4rem;
  height: 0.4rem;
  padding: 0 3.6rem 0 3.6rem;
  margin: 0rem 0.8rem 0rem 0.8rem;
  border-radius: 1rem;
  background: var(--primary-green);
}

.progress .progress-bar {
  background: #ccc;
  padding: 0 3.6rem 0 3.6rem;
  margin: 0rem 0.8rem 0rem 0.8rem;
  border-radius: 1rem;
  width: 16rem;
  height: 0.4rem;
}

.figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  flex-direction: row;
  padding-top: 4.2rem;
  text-align: center;
}

@media (max-width: 60rem) {
  html {
    font-size: 50%;
  }

  .content {
    flex-direction: column;
  }

  .header-main {
    width: 100%;
    max-width: 600px;
    padding: 0;
    justify-content: left;
    align-items: center;
  }

  .header {
    width: 100%;
    min-width: 60rem;
    padding: 1.6rem 1rem;
  }

  .hg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 0rem 2.2rem;
  }

  main {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 60rem;
    height: 62rem;
    margin: auto;
  }

  .card {
    width: 100%;
    max-width: 60rem;
  }

  .imgCard {
    width: 58rem;
    height: 16rem;
  }

  .text {
    padding-left: 2rem;
  }

  .title {
    width: 59rem;
    padding-left: 2rem;

    color: var(--text-heading);
  }

  .episodes {
    width: 100%;
    max-width: 60rem;
    padding-left: 2rem;
  }

  aside {
    width: 100%;
    max-width: 50rem;
    margin: auto 14.9rem;
  }
}
