.header-main {
  width: 100%;
}

.header {
  background-color: var(--items-background);
  width: 100%;
  /* padding: 0.5rem; */
  display: flex;
  justify-content: space-between;
  padding: 32px 64px 32px 64px;
  align-items: center;
  align-content: center;
}

.logo-line {
  display: flex;
  justify-content: space-between;
  width: 25.9rem;
}

.hg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem 0rem 3.2rem;
  width: 100%;
}

main {
  margin: 0rem 0rem 0rem 15.6rem;
  justify-content: space-between;
  align-items: center;
  width: 80.4rem;
  height: 62rem;
}

.imgCard {
  padding: 4.8rem 0rem 3.2rem 2.4rem;
}

.player-blue-card {
  position: absolute;
  top: 22rem;
  left: 6rem;
  margin-left: 82.45rem;
}

.player-green-card {
  position: absolute;
  top: 22rem;
  left: 153rem;
}

.player-green-arrow-card {
  position: absolute;
  top: 23.4rem;
  left: 154rem;
}

.container {
  justify-content: space-between;
  width: 88.8rem;
}

.title {
  width: 63rem;
  height: 8rem;
  left: 19.6rem;
  top: 34.4rem;

  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;

  padding: 0rem 0rem 2.4rem 4rem;

  color: var(--text-heading);
}

h2 {
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 1.8rem;
  padding: 0rem 0rem 2.4rem 4rem;
}

.text-header {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 0rem;
  padding: 0rem 0rem 0rem 0rem;
}

.episodes {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  padding: 2.4rem 0rem 2.4rem 4rem;
}

article p {
  width: 62.4rem;
  height: 2.8rem;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: justify;

  color: var(--text-heading);
}

aside {
  background-color: var(--primary-red);
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 4.1rem 6.4rem 0rem;
  width: 42.4rem;
  height: 82rem;
}

.img-headphone {
  width: 16.9rem;
  height: 3.2rem;
  margin: 0rem 0rem 8.1rem 0;
}

.img-playing {
  width: 29.6rem;
  height: 34.6rem;

  border: 0.15rem dashed var(--primary-green-light);
  box-sizing: border-box;
  border-radius: 2.4rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.title-aside {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 3.2rem 7.1rem 0.8rem 6.5rem;
  color: var(--text-body-light);

  width: 32rem;
}

.name-dev {
  weight: 10.3rem;
  color: var(--primary-green-light);
  margin: 0rem 0rem 7.7rem 0;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-container span {
  padding: 11.9 7rem 0rem 7.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 3.9rem;
  height: 1.7rem;

  color: var(--text-body-light);

  font-family: "inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.progress {
  width: 20.4rem;
  height: 0.4rem;
  padding: 0 3.6rem 0 3.6rem;
  margin: 0rem 0.8rem 0rem 0.8rem;
  border-radius: 1rem;
  background: var(--primary-green);
}

.progress .progress-bar {
  background: #ccc;
  padding: 0 3.6rem 0 3.6rem;
  margin: 0rem 0.8rem 0rem 0.8rem;
  border-radius: 1rem;
  width: 16rem;
  height: 0.4rem;
}

.figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  flex-direction: row;
  padding-top: 4.2rem;
  text-align: center;
}
